# Application
NODE_ENV=development
LOG_LEVEL=debug
PUBLIC_HOST=depot-numerique.localhost
IDP_PUBLIC_HOST=idp.depot-numerique.localhost
BETTER_AUTH_SECRET=replace-with-a-random-secret-of-at-least-32-characters

# PostgreSQL
POSTGRES_DB=depot_numerique
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=password
REDIS_PORT=6379
REDIS_HOST=localhost

# MinIO
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_RAW_BUCKET=documents-raw

# Keycloak
KEYCLOAK_ADMIN_USERNAME=root
KEYCLOAK_ADMIN_PASSWORD=password
KEYCLOAK_PORT=8080

# OpenLDAP
OPENLDAP_ADMIN_PASSWORD=admin
OPENLDAP_PORT=389
PHPLDAPADMIN_PORT=8081

# SSO
SSO_PROVIDER_ID=justice-saml
SSO_DOMAIN=justice.fr
SSO_SP_ENTITY_ID=depot-numerique
