# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Nestjs specific
/dist
/node_modules
/build
/tmp

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Turbo cache
.turbo/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# temp directory
.temp
.tmp

AGENTS.md
